<div class="control-header">
  <b>Layout</b>
  <ui-select ng-model="controller.ui.selectedLayout"
             ng-change="controller.onLayoutChanged(controller.ui.selectedLayout)"
             style="width: 35%;">
    <ui-select-match placeholder="layout">
      {{controller.ui.selectedLayout}}
    </ui-select-match>
    <ui-select-choices repeat="option in controller.ui.availableLayouts track by option">
      {{option}}
    </ui-select-choices>
  </ui-select>
</div>
<hr>
<div class="node-link-view-container">
  <svg id="node-link-svg"></svg>
</div>
