/* These are copied from pathfinder's style.css */

.node-link-view-container {
  overflow: auto;
  border: thin solid gray;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

g.node rect {
  fill: #c8c8c8;
  stroke: #505050;
}

g.node circle {
  fill: #c8c8c8;
  stroke: #505050;
}

g.node text {
  font-size: 11px;
  alignment-baseline: middle;
  text-anchor: middle;
}

g.node.hovered rect {
  fill: #FFC800;
}

g.node.hovered circle {
  fill: #FFC800;
}

g.node.selected rect {
  fill: #ff6400;
}

g.link path {
  stroke: #505050;
  fill: none;
}
