<h4>
  Node Link
</h4>
<div ng-show="controller.paths" class="grow-1 vflex">
  <div class="control-header">
    Layout
    <ui-select ng-model="controller.ui.selectedLayout"
               ng-change="controller.onLayoutChanged(controller.ui.selectedLayout)"
               class="control-input">
      <ui-select-match placeholder="layout">
        {{controller.ui.selectedLayout}}
      </ui-select-match>
      <ui-select-choices repeat="option in controller.ui.availableLayouts track by option">
        {{option}}
      </ui-select-choices>
    </ui-select>
  </div>
  <br>
  <div class="node-link-view-container grow-1" id="node-link-column">
    <svg id="node-link-svg"></svg>
  </div>
</div>

<div ng-show="!controller.paths">
  Select some paths to see a node-link view.
</div>
