<span class="matrix-view-attribute-controls">
  <h4>
    <span class="main-icon-control fa fa-close" ng-click="controller.setNodeLinkVisibility(false)"></span>
    Node-link View
  </h4>
</span>

<div class="control-header">
  <b>Layout</b>
  <ui-select ng-model="controller.ui.selectedLayout"
             ng-change="controller.onLayoutChanged(controller.ui.selectedLayout)"
             style="width: 35%;">
    <ui-select-match placeholder="layout">
      {{controller.ui.selectedLayout}}
    </ui-select-match>
    <ui-select-choices repeat="option in controller.ui.availableLayouts track by option">
      {{option}}
    </ui-select-choices>
  </ui-select>
</div>

<svg id="node-link-svg"></svg>
