/* These are copied from pathfinder's style.css */

g.legend path {
  fill: none;
  stroke: #505050;
  stroke-width: 1px;
}

g.legend line {
  stroke: #000;
  shape-rendering: crispEdges;
}

g.legend text {
  font-size: 10px;
}
