<h4 class="inline">Connectome Query</h4>

<div>
  <!-- Dropdown to select number of hops -->
  <div class="input-group query-builder-item query-builder-input">
    <span class="input-group-addon query-builder-addon">Hops</span>
    <ui-select theme="bootstrap"
               ng-model="queryController.ui.selectedNumHops"
               ng-change="queryController.setNumHops(queryController.ui.selectedNumHops)"
               ng-disabled="queryController.isCypherWritable">
      <ui-select-match>
        {{queryController.ui.selectedNumHops}}
      </ui-select-match>
      <ui-select-choices repeat="option in queryController.ui.availableNumHops">
        {{option}}
      </ui-select-choices>
    </ui-select>
  </div>
  <!-- Loop over template for nodes -->
  <div ng-repeat="node in queryController.ui.nodes track by $index" style="width: 100%">
    <div class="input-group query-builder-item query-builder-input">
      <span class="input-group-addon query-builder-addon">Node #{{$index}}</span>
      <input type="text" class="form-control" ng-model="queryController.ui.nodes[$index]">
    </div>
    <!-- Each node has an edge field associated with it, execpt for the last one-->
    <div ng-if="$index < queryController.ui.nodes.length-1" class="input-group query-builder-item query-builder-input">
      <span class="input-group-addon query-builder-addon">Edge #{{$index}}</span>
      <input type="text" class="form-control" ng-model="queryController.ui.edges[$index]">
    </div>
  </div>
</div>


<div class="input-group query-builder-item query-builder-input">
  <button type="button" class="btn btn-default btn-xs query-builder-submit-btn"
          ng-click="queryController.onSubmitClicked()">
    Submit
  </button>
</div>

