<div style="display: inline-block">
  <div class="numPathsLabel">Length</div>
  <div class="numPathsLabel">Paths</div>
</div>

<div style="display:inline-block">
  <div class="numPaths" style="display: inline-block" ng-repeat="(key, value) in numPathsController.paths">
    <div>{{key}}</div>
    <div ng-show="numPathsController.numVisiblePathsPerHops != null" class="label label-primary numPathsValue">
      {{numPathsController.numVisiblePathsPerHops[key]}} / {{ value.length }}
    </div>
    <div ng-show="numPathsController.numVisiblePathsPerHops == null" class="label label-primary numPathsValue">
      {{value.length}}
    </div>
  </div>
</div>
