html, body {
  height: 100%;
}

/* Override a bunch of bootstrap properties to put the title in the top right */
.top-row-container {
  padding-left: 0;
  padding-right: 0;
  min-height: 0;
}

.top-row {
  margin-bottom: 0;
  margin-right: 0;
  min-height: 0;
}

.top-row-navbar {
  margin-bottom: 0;
  min-height: 0;
}

.top-row-navbar-brand {
  height: 30px;
  padding: 7px 7px;
}

/* This controls the animation for changing column widths with ng-class */
.row span {
  -webkit-transition: width 0.3s ease, margin 0.3s ease;
  -moz-transition: width 0.3s ease, margin 0.3s ease;
  -o-transition: width 0.3s ease, margin 0.3s ease;
  transition: width 0.3s ease, margin 0.3s ease;
}

/* The matrix view is wrapped in a dark grey outline */
.column-matrix-wrapper {
  height: 960px;
  overflow: hidden;
}

.control-header {
  margin-top: 15px;
}

.query-status-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: transparent;
}

.main-icon-control {
  padding: 3px;
}

.main-icon-control:hover {
  background: #6D6C6C;
  border-radius: 3px;
}

.column-matrix {
  float: left;
  border-left: solid;
  border-right: solid;
  border-width: 1px;
  border-color: grey;
  padding-right: 0 !important;
}

.column-node-list {
  width: auto !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}
