<div class="container-fluid">

  <!--Row holding the query text box -->
  <div class="row top-row">
    <query-directive submit="main.onQuerySubmitted(query)"></query-directive>
  </div>

  <!-- Row holding the controls (left-most col) and matrix (right-ish cols) -->
  <div class="row">

    <!-- Column holding global matrix controls -->
    <span class="col-lg-1" id="controls-column">

      <div class="control-header">
        <b>Collapse rows</b>
        <ui-select ng-model="main.ui.selectedCategoricalRowAttr"
                   ng-change="main.onCollapseRowsByAttr(main.ui.selectedCategoricalRowAttr)">
          <ui-select-match placeholder="Categorical attribute to collapse rows">
            {{main.ui.selectedCategoricalRowAttr}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.availableCategoricalAttr track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="control-header">
        <b>Collapse cols</b>
        <ui-select ng-model="main.ui.selectedCategoricalColAttr"
                   ng-change="main.onCollapseColsByAttr(main.ui.selectedCategoricalColAttr)">
          <ui-select-match placeholder="Categorical attribute to collapse cols">
            {{main.ui.selectedCategoricalColAttr}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.availableCategoricalAttr track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="control-header">
        <b>Sort order</b>
        <div class="btn-group" uib-dropdown>
          <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>Select<span
            class="caret"></span></button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem" ng-repeat="order in main.ui.orders" ng-click="main.onSortOrderChanged(order)"><a
              href="#">{{order}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="control-header">
        <b>Cell encoding</b>
        <ui-select id="select-encoding"
                   ng-model="main.ui.selectedEncoding"
                   ng-change="main.onEncodingChanged(main.ui.selectedEncoding)">
          <ui-select-match placeholder="Cell encoding">
            {{main.ui.selectedEncoding}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.encodings track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <!-- Legend of matrix cell encodings -->
      <div class="control-header" ng-show="main.ui.hasLegend">
        <b>Legend</b>
        <svg id="encoding-legend">
        </svg>
      </div>

      <!-- Controls for debugging and manually hiding/showing node ids. Disabled by default-->
      <div class="control-header" ng-show="main.ui.debugNodeHiding">
        <input type="text" name="input" ng-model="main.ui.debugNodeHidingId">
        <button ng-click="main.onDebugNodeHiding(main.ui.debugNodeHidingId, true)">Show</button>
        <button ng-click="main.onDebugNodeHiding(main.ui.debugNodeHidingId, false)">Hide</button>
      </div>

    </span>

    <!-- Columns holding the matrix -->
    <span class="col-lg-4">
      <span ng-show="main.hasActiveQuery">Query is loading...</span>
      <span ng-show="main.hasQueryError">{{main.queryError}}</span>

      <svg id="my-svg" width="1024" height="1024"></svg>
    </span>
  </div>
</div>
