<!--Row holding the query text box -->
<div class="full-width no-shrink top-bar">
  <span class="logo">Connectivity Matrix</span>
</div>

<div class="full-width hflex main-panel grow-1">
  <div class="pane left-pane grey-border">
    <h4>Query</h4>
    <query-directive
      submit="main.onQuerySubmitted(query)"
      submit-disabled="main.hasActiveQuery">
    </query-directive>
    <div ng-show="main.hasGoodData">
      <hr>
      <h4>Matrix Controls</h4>
      <div class="control-header">
        <b>Collapse rows</b>
        <ui-select ng-model="main.ui.selectedCategoricalRowAttr"
                   ng-change="main.onCollapseRowsByAttr(main.ui.selectedCategoricalRowAttr)">
          <ui-select-match placeholder="Categorical attribute to collapse rows">
            {{main.ui.selectedCategoricalRowAttr}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.availableCategoricalAttr track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="control-header">
        <b>Collapse cols</b>
        <ui-select ng-model="main.ui.selectedCategoricalColAttr"
                   ng-change="main.onCollapseColsByAttr(main.ui.selectedCategoricalColAttr)">
          <ui-select-match placeholder="Categorical attribute to collapse cols">
            {{main.ui.selectedCategoricalColAttr}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.availableCategoricalAttr track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="control-header">
        <b>Sort order</b>
        <ui-select ng-model="main.ui.selectedSortOrder"
                   ng-change="main.onSortOrderChanged(main.ui.selectedSortOrder)">
          <ui-select-match placeholder="Selected sort order">
            {{main.ui.selectedSortOrder}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.orders track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="control-header">
        <b>Cell encoding</b>
        <ui-select id="select-encoding"
                   ng-model="main.ui.selectedEncoding"
                   ng-change="main.onEncodingChanged(main.ui.selectedEncoding)">
          <ui-select-match placeholder="Cell encoding">
            {{main.ui.selectedEncoding}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.encodings track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="control-header" ng-show="main.ui.metrics">
        <b>Path metric</b>
        <ui-select id="select-metric"
                   ng-model="main.ui.selectedMetric"
                   ng-change="main.onMetricChanged(main.ui.selectedMetric, main.ui.selectedEncoding)">
          <ui-select-match placeholder="Path metric">
            {{main.ui.selectedMetric}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.metrics track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <!-- Legend of matrix cell encodings -->
      <div class="control-header" ng-show="main.ui.hasLegend">
        <b>Legend</b>
        <svg id="encoding-legend">
        </svg>
      </div>
    </div>
  </div>

  <!-- Center pane will hold the matrix -- or error messages -->
  <!-- TODO - move the ID matrices-row somewhere else -->
  <div ng-show="main.hasGoodData" class="pane center-pane grow-1" id="matrices-row">
    <h4>Connectivity Matrix</h4>
  </div>

  <div ng-show="main.hasGoodData" class="pane pane-center-right vflex" id="shit">
    <h4>Intermediate Nodes</h4>
    <div id="node-list-col" class="grow-1">
    </div>
  </div>

  <!-- Error messages -->
  <div ng-show="!main.hasGoodData" class="pane center-pane">
    <p ng-show="main.hasActiveQuery">Query is loading...</p>
    <p ng-show="main.hasQueryError">{{main.queryError}}</p>
  </div>

  <!-- Right panel -->
  <div ng-show="main.hasGoodData" class="pane right-pane grey-border vflex">
    <uib-tabset active="1" type="tabs" class="grow-1 vflex">
      <!-- Tab for the node-link view -->
      <uib-tab index="0" heading="{{main.availablePanels[0]}}">
        <div class="grow-1 vflex">
          <node-link-view-directive
            view-state="main.viewState"
            main-controller="main"
            class="vflex grow-1">
          </node-link-view-directive>
        </div>
      </uib-tab>

      <!-- Tab for the path list -->
      <uib-tab index="1" heading="{{main.availablePanels[1]}}">
        <div path-list-view-directive
             view-state="main.viewState"
             main-controller="main"
             class="vflex grow-1">
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
