html, body {
  height: 99%;
}

body {
  margin: 0.5em;
  padding: 0;
}

.btn-header {
  min-width: 6em;
}

.control-header {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-input {
  flex-grow: 1;
  padding-left: 5px;
  max-width: 70%;
}

.float-right {
  float: right;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.grow-1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.hflex {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.logo {
  font-size: 28px;
}

.main-icon-control {
  padding: 3px;
}

.main-icon-control:hover {
  background: #6D6C6C;
  border-radius: 3px;
}

.modal-line-header {
  vertical-align: middle;
  font-weight: bold;
  min-width:100px;
}

.left-pane-wrappers {
  width: 20%;
  padding-left: 0px;
  padding-right: 0px;
}

.no-shrink {
  flex-shrink: 0;
}

.no-margin {
  margin: 0 !important;
}

.pane {
  padding: 0;
  position: relative;
  margin-top: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 3px;
}

.pane.left-pane {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.pane.center-pane {
  width: calc(100% - 16.66% - 19.99% - 20% - 3%);
  padding-left: 10px;
  border-left: thick solid lightgray;
  border-top: thick solid lightgray;
  border-bottom: thick solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 0.5%;
}

.pane.intermediate-nodes {
  border-left: thin solid lightgrey;
}

.pane.pane-center-right {
  width: auto;
  border-top: thick solid lightgray;
  border-right: thick solid lightgray;
  border-bottom: thick solid lightgray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 10px;
}

.pane.loading-pane {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: thick solid lightgray;
  border-bottom: thick solid lightgray;
  justify-content: space-around;
  align-items: center;
}

.pane.right-pane {
  width: 20.99%;
  margin-left: 0.5%;
  border-radius: 5px;
  padding-top: 0 !important;
}

.pane.grey-border {
  border: thick solid lightgray;
}

.red-text {
  color: red;
}

/* Overrides definition in uib */
.tab-content {
  padding: 0 15px !important;
  flex-grow: 1;
  display: flex;
}

.tab-content > .active {
  flex-direction: column;
  display: flex;
  flex: 1;
}

.tab-pane {
  flex-grow: 1;
}

.top-bar {
  background: #333;
  color: lightgrey;
  border-radius: 10px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vflex {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.vflex,
.hflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  position: relative;
}

.vertical-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #0c0c0c;
}
