html, body {
  height: 99%;
}

body {
  margin: 0.5em;
  padding: 0;
}

.control-header {
  margin-top: 5px;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.grow-1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.hflex {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.logo {
  height: 33px;
  font-size: 28px;
  font-weight: bold;
}

.main-icon-control {
  padding: 3px;
}

.main-icon-control:hover {
  background: #6D6C6C;
  border-radius: 3px;
}

.no-shrink {
  flex-shrink: 0;
}

.pane {
  padding: 0;
  position: relative;
  margin-top: 3px;
}

.pane.left-pane {
  width: 15%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.pane.center-pane {
  width: calc(100% - 16.66% - 19.99% - 20%);
  padding-left: 10px;
  border-left: thick solid lightgray;
  border-top: thick solid lightgray;
  border-bottom: thick solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 0.5%;
}

.pane.pane-center-right {
  width: auto;
  border-top: thick solid lightgray;
  border-right: thick solid lightgray;
  border-bottom: thick solid lightgray;
  border-left: thin solid lightgrey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 10px;
}

.pane.right-pane {
  width: 20.99%;
  margin-left: 0.5%;
  border-radius: 5px;
}

.pane.grey-border {
  border: thick solid lightgray;
}

/* Overrides definition in uib */
.tab-content {
  padding: 0 15px !important;
  flex-grow: 1;
  display: flex;
}

.tab-content > .active {
  flex-direction: column;
  display: flex;
  flex: 1;
}

.tab-pane {
  flex-grow: 1;
}

.top-bar {
  background: #333;
  color: lightgrey;
  border-radius: 10px;
  padding-left: 5px;
}

.vflex {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.vflex,
.hflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  position: relative;
}

