<div class="container-fluid">

  <!--Row holding the query text box -->
  <div class="row top-row">
    <query-directive submit="main.onQuerySubmitted(query)"></query-directive>
    <num-paths-directive ng-show="!main.hasActiveQuery && !main.hasQueryError"
                         view-state="main.viewState" main-controller="main"></num-paths-directive>
  </div>

  <!-- Row holding the controls (left-most col) and matrix (right-ish cols) -->
  <div class="row animate-show" ng-show="!main.hasActiveQuery && !main.hasQueryError">

    <!-- Column holding global matrix controls -->
    <span class="col-lg-1" id="controls-column">

      <div class="control-header">
        <b>Collapse rows</b>
        <ui-select ng-model="main.ui.selectedCategoricalRowAttr"
                   ng-change="main.onCollapseRowsByAttr(main.ui.selectedCategoricalRowAttr)">
          <ui-select-match placeholder="Categorical attribute to collapse rows">
            {{main.ui.selectedCategoricalRowAttr}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.availableCategoricalAttr track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="control-header">
        <b>Collapse cols</b>
        <ui-select ng-model="main.ui.selectedCategoricalColAttr"
                   ng-change="main.onCollapseColsByAttr(main.ui.selectedCategoricalColAttr)">
          <ui-select-match placeholder="Categorical attribute to collapse cols">
            {{main.ui.selectedCategoricalColAttr}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.availableCategoricalAttr track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="control-header">
        <b>Sort order</b>
        <ui-select ng-model="main.ui.selectedSortOrder"
                   ng-change="main.onSortOrderChanged(main.ui.selectedSortOrder)">
          <ui-select-match placeholder="Selected sort order">
            {{main.ui.selectedSortOrder}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.orders track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="control-header">
        <b>Cell encoding</b>
        <ui-select id="select-encoding"
                   ng-model="main.ui.selectedEncoding"
                   ng-change="main.onEncodingChanged(main.ui.selectedEncoding)">
          <ui-select-match placeholder="Cell encoding">
            {{main.ui.selectedEncoding}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.encodings track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="control-header" ng-show="main.ui.metrics">
        <b>Path metric</b>
        <ui-select id="select-metric"
                   ng-model="main.ui.selectedMetric"
                   ng-change="main.onMetricChanged(main.ui.selectedMetric, main.ui.selectedEncoding)">
          <ui-select-match placeholder="Path metric">
            {{main.ui.selectedMetric}}
          </ui-select-match>
          <ui-select-choices repeat="option in main.ui.metrics track by option">
            {{option}}
          </ui-select-choices>
        </ui-select>
      </div>

      <!-- Legend of matrix cell encodings -->
      <div class="control-header" ng-show="main.ui.hasLegend">
        <b>Legend</b>
        <svg id="encoding-legend">
        </svg>
      </div>

      <!-- Controls for debugging and manually hiding/showing node ids. Disabled by default-->
      <div class="control-header" ng-show="main.ui.debugNodeHiding">
        <input type="text" name="input" ng-model="main.ui.debugNodeHidingId">
        <button ng-click="main.onDebugNodeHiding(main.ui.debugNodeHidingId, true)">Show</button>
        <button ng-click="main.onDebugNodeHiding(main.ui.debugNodeHidingId, false)">Hide</button>
      </div>

      <div class="control-header" ng-show="main.ui.debugNodeLinkLayout">
        <button ng-click="main.onToggleNodeLinkView()">Toggle node-link</button>
      </div>

    </span>

    <!-- TODO: Update the width/height of the svg elements here and in the nodeLinkView-->
    <span ng-show="!main.hasActiveQuery && !main.hasQueryError" ng-class="main.matrixClass" class="column-matrix"
          id="matrices-row">
      <h4>Connectivity Matrix</h4>
    </span>



    <span ng-show="!main.hasActiveQuery && !main.hasQueryError" class="col-lg-4" id="details-column" style="padding-left: 0;">
          <uib-tabset active="active">
            <uib-tab index="0" heading="Intermediate Nodes">
              <div id="node-list-col" style="padding-left: 15px;">
              </div>
            </uib-tab>
            <uib-tab index="1" heading="Node-Link">
              <div id="node-link-column" style="padding-left: 15px;">
                <node-link-view-directive
                  set-node-link-visibility="main.setNodeLinkVisibility(false)"
                  view-state="main.viewState"
                  main-controller="main">
                </node-link-view-directive>
              </div>
            </uib-tab>
          </uib-tabset>
    </span>
  </div>

  <!-- Row the replaces the matrix when there is a query running or query error. -->
  <div ng-show="main.hasActiveQuery || main.hasQueryError" class="jumbotron row query-status-row">
    <p ng-show="main.hasActiveQuery">Query is loading...</p>
    <p ng-show="main.hasQueryError">{{main.queryError}}</p>
  </div>
</div>
