<span class="col-lg-3">
  <div ng-repeat="set in queryController.sets" class="form-group">

    <form class="form-inline">
      <label style="width:30%"> {{set}} {{queryController.property}} {{queryController.operator}}</label>
      <input class="form-control" type="text" style="float: right; width:70%;" ng-model="queryController[set]">
    </form>
  </div>
  <label style="width:30%"> Num hops</label>
              <ui-select ng-model="queryController.selectedNumHops" style="width:30%; display: inline-block;">
                <ui-select-match>
                  {{queryController.selectedNumHops}}
                </ui-select-match>
                <ui-select-choices repeat="option in queryController.numHops">
                  {{option}}
                </ui-select-choices>
              </ui-select>
      <button style="display:inline-block; vertical-align: top; float:right; width: 30%;"
              ng-click="queryController.submit({query:queryController.cypherQuery})" class="btn btn-default">Submit
      </button>
</span>
