.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.dot {
  fill: #777;
}

.dot:hover {
  fill: #FFC800;
}

.axis path,
.axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.fa {
  background: transparent;
}

.fa:hover {
  color: white;
  cursor: pointer;
}

.btn-xxs,
.btn-group-xxs > .btn {
  padding: 1px 2px;
  font-size: 12px;
  line-height: 0.5;
  border-radius: 3px;
}
