.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.dot {
  fill: none;
  stroke: #333;
  stroke-width: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.fa {
  display: inline;
  background: transparent;
}

.fa:hover {
  color: white;
  cursor: pointer;
}
