<h4>
  Path List
</h4>

<div class="vflex grow-1">
  <div ng-if="controller.paths" class="path-list-container grow-1">
    <div ng-repeat="path in controller.currentPaths" class="path-list-path">
    <span ng-repeat="i in path track by $index">
    <span ng-if="$index%2==0"
          ng-model="path[$index]"
          class="path-list-node"
          ng-class="{'path-list-hovered': controller.hoveredNodes.indexOf(path[$index]) != -1}"
          ng-mouseover="controller.hoverNodes([path[$index]])"
          ng-mouseleave="controller.hoverNodes()">
    {{controller.model.getMajorLabels([path[$index]])[0]}}
    </span>
    <span ng-if="$index%2==1" class="path-list-edge"
          data-toggle="tooltip"
          data-title="Edge: {{path[$index]}}"
          data-container="body"
          data-placement="top">
    </span>
    </span>
    </div>
  </div>
  <div uib-pagination
       ng-show="controller.paths && controller.paths.length > controller.itemsPerPage"
       items-per-page="controller.itemsPerPage"
       total-items="controller.paths.length"
       ng-model="controller.currentPage"
       max-size="5"
       force-ellipses="true"
       class="pagination-sm"
       ng-change="controller.setPage(controller.currentPage)">
  </div>

  <div ng-if="!controller.paths">
    Select some paths to see a list!
  </div>
</div>


