/* These are copied from pathfinder's style.css */

/* Format for column containing freq and count*/
.path-list-attribute-col {
  padding-right: 2px;
  padding-left: 2px;
  text-align: center;
}

.path-list-child-edge {
  font-size: 12px;
  margin-left: 0.2em;
  margin-right: 0.2em;
  position: relative;
  display: inline-table;
}

.path-list-header-row {
  border-bottom: thin solid lightgrey;
}

.path-list-hovered {
  background: #FFC800;
}

.path-list-edge {
  display: inline-block;
  background: darkgrey;
  font-size: 14px;
  width: 0.75em;
  height: 0.25em;
  position: relative;
  top: -0.125em; /* half of height */
}

.path-list-edge:hover {
  background: #FFC800;
}

.path-list-path {
  font-size: 0;
}

.path-list-node {
  display: inline-block;
  background: #c8c8c8;
  border: thin solid #505050;
  font-size: 12px;
  alignment-baseline: middle;
  text-align: center;
  border-radius: 3px;
  width: 4em;
}

.path-list-node:hover {
  background: #FFC800;
}

.path-list-spacer {
  height: 5px;
}

