/* These are copied from pathfinder's style.css */

.path-list-path {
  margin: 10px;
  font-size: 0;
}

.path-list-node {
  display: inline-block;
  background: #c8c8c8;
  border: thin solid #505050;
  font-size: 12px;
  alignment-baseline: middle;
  text-align: center;
  border-radius: 3px;
  width: 3em;
}

.path-list-node:hover {
  background: #FFC800;
}

.path-list-hovered {
  background: #FFC800;
}

.path-list-edge:hover {
  background: #FFC800;
}

.path-list-edge {
  display: inline-block;
  background: darkgrey;
  padding: 0;
  width: 0.4em;
}

.path-list-child-row {
  border-top: none !important;
  outline: thin solid red;

}

.path-list-header-row {
  border-bottom: thin solid lightgrey;
}

.path-list-motif-col {
  width: 80%;
}

.path-list-length-col {
  padding-right: 5px;
  padding-left: 5px;
}

.path-list-center-content {
  text-align: center;
}

.path-list-path-row {
  padding-bottom: 10px;
}


.path-list-child-container {
}

.path-list-path-body {
  padding-bottom: 10px;
}

.path-list-spacer {
  height: 5px;
}

.path-list-edge-item {
  width: 3em;
  background: red;
  position: relative;
}

.path-list-controls-col {
  width: 1em;
}
