.inline {
  display: inline;
}

.query-builder-input {
  width: 100%;
}

.query-builder-num-hops {
  width: 70%;
}

.query-builder-item {
  padding-top: 5px;
}

.query-builder-radio-btn-group {
  float: right;
}

.query-builder {
  width: 100%;
}

.query-builder-addon {
  padding: 6px 6px !important;
  width: 4.5em;
}

.query-builder-submit-btn {
  float: right;
}

.ui-select-toggle {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.query-builder-text-area {
  width: 100%;
  height: 250px;
  resize: none;
  font-family: "Courier New", monospace;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.full-width {
  width: 100%;
}

.query-builder-warning {
  position: absolute;
  width: 95%;
  border-radius: 10px;
  background: darkred;
  opacity: 0.75;
  z-index: 100;
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}

.query-builder-warning-button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
}
