<div class="modal-header">
  <h3 class="modal-title">{{modalController.title}}</h3>
</div>

<div class="modal-body">
  <!-- Optionally show an error message if the user puts in garbage values" -->
  <div ng-show="modalController.errorMessage">
    {{modalController.errorMessage}}
  </div>

  <!-- These divs hold manually input fields. TODO: delete them after the histogram is in place! -->
  <div>
    Min value: <input type="number" ng-model="modalController.range[0]"></input>
    Number of bins: <input type="number" ng-model="modalController.numBins"></input>
  </div>
  <div>
    Max value: <input type="number" ng-model="modalController.range[1]"></input>
  </div>
  <div>
  </div>
  <!-- This is the svg that will hold the histogram. It doesn't have a width and height yet.
  These get assigned in ModalHistogramFilterController::activateUi() -->
  <svg>
  </svg>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="modalController.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="modalController.cancel()">Cancel</button>
</div>
