.matrix-view-interactive-cell {
  fill: transparent;
}

.matrix-view-interactive-cell:hover {
  stroke: black;
  stroke-width: 1px;
  fill: transparent;
}

.matrix-view-histogram-bar {
  fill: gray;
}

.matrix-view-attribute-label {
  text-anchor: middle;
  font-size: 10px;
  alignment-baseline: text-before-edge;
}

.matrix-view-highlight-rect {
  fill: none;
  stroke: black;
}
