.matrix-row {
  display: flex !important;
  flex-direction: row;
  overflow: hidden;
}

.matrix-row-top {
  min-height: fit-content;
}

.matrix-element {
  display: inline-block;
  font-size: 0;
}

.matrix-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.matrix-element-bottom-left {
  overflow-y: hidden;
  min-width: fit-content;
}

.matrix-element-bottom-right {
  overflow-y: auto;
  overflow-x: auto;
  max-width: inherit;
  max-height: inherit;
}

.matrix-element-top-right {
  overflow-x: hidden;
}

.matrix-view-string-attribute {
  text-anchor: start;
  alignment-baseline: middle;
  font-size: 12px;
}

/* Children of g.matrix-view-interaction-group get manipulated on hovererd/selected events */
g.matrix-view-interaction-group {
  cursor: pointer;
}

.no-click {
  cursor: default !important;
}

.node-list-top-row {
  margin-top: -30px;
}

g.matrix-view-interaction-group rect {
  fill: transparent;
}

g.matrix-view-interaction-group:hover {
  stroke: #FFC800;
  stroke-width: 1px;
}

g.matrix-view-interaction-group.selected rect {
  stroke: #ff6400;
  stroke-width: 2px;
}

g.matrix-view-interaction-group.hovered rect {
  stroke: #FFC800;
  stroke-width: 2px;
}

.matrix-view-histogram-bar {
  fill: gray;
}

.matrix-view-attribute-label {
  text-anchor: middle;
  font-size: 14px;
  alignment-baseline: text-before-edge;
  font-weight: bold;
}

.matrix-view-highlight-rect {
  fill: none;
  /*stroke: #AFAFAF;*/
}

.matrix-view-attribute-controls {
  fill: transparent;
  rx: 1px;
  ry: 1px;
}

.matrix-view-edit-attribute-controls {
  background: transparent;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  padding: 0 2px;
  border-color: #adadad;
  font-size: 14px;
  line-height: 0;
}

.matrix-view-edit-attribute-controls:hover {
  background: #adadad;
}

.matrix-view-toolbar {
  display: flex;
  border-right-style: solid;
  border-left-style: solid;
  background: #adadad;
  border-color: #adadad;
  width: min-content;
}

.matrix-view-sortbar {
  display: flex;
  font-size: 12px;
  width: min-content;
}

.matrix-view-sortbar:hover {
  background: #adadad;
}

.matrix-view-toolbar-item {
  color: #333;
  font-size: 12px;
  padding-right: 2px;
}

.matrix-view-toolbar-item:hover {
  color: white;
}

.matrix-view-legend-container {
  /*display: inline-block;*/
  margin-right: 20px;
}
